*{
            margin: 0px;
            padding: 0px;
        }
        .cuadro{
            width: 200px;
            height: 200px;
        }

        .arribaizq{
            position: relative;
            top: 50px;
            background-color: red;
            opacity: 70%;
            animation: rotate 2s linear infinite;
        }

        @keyframes rotate {
            from { transform: rotate(0deg); }
            to { transform: rotate(360deg); }
        }

        .derecha{
            position:absolute;
            background-color: greenyellow;
            left: calc(100vw - 200px);
            opacity: 20%;
        }
        .centro{
            left: 50vw;
            right: 50vh;
            border-radius: 50%;
            top: 50vh;
            bottom: 50vh;
            background-color: fuchsia;
            position: absolute;
        }

        .centro.blue {
            background-color: blue;
        }

        .pie{
            width: 100vw;
            height: 50px;
            background-color: yellow;
            margin-top: calc(100vh - 50px);
        }