body{
    background-color: red;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    font-family: Arial, sans-serif;
}

.calculator {
    background-color: #1c1c1c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

#display {
    width: 100%;
    height: 60px;
    text-align: right;
    font-size: 2em;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    color: white;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 70px);
    grid-gap: 10px;
}

.btn {
    padding: 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn:hover {
    background-color: #eee9e9;
}

.equal {
    grid-row: span 2;
    background-color: #f57c00;
}

.equal:hover {
    background-color: #ff9800;
}

.zero {
    grid-column: span 2;
}
.zero {
    grid-column: span 2;
}

.btn.operator {
    background-color: #1976d2;
}
.btn.operator:hover {
    background-color: #2196f3;
}
